.topcorner{
   position:absolute;
   top:0;
   right:0;
  }
  
  .leftbottom{
   position:fixed;
   bottom:0;
   width: 100%;
  }
  
  
  .dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}